#Title {
    filter: drop-shadow(0px 2px 2px #000000);
    background-color: #AAAAFF;
    text-align: center;
    font-weight: bold;
}
#MainBox {
    margin-top: 10px;
    display: grid;
    text-align: center;
    font-weight: bold;
}
.boxes {
    background-color: #FFFFFF;
    grid-gap: 10px;
    border: 1px solid #000000;
    border-radius: 12px;
    font-weight: bold;
    color: #000000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}